header div {
    background-color: var(--primary-color);
    box-shadow: 0px 2px 4px rgba(0, 0, 32, 0.4);
    z-index: 1000;
    position: relative;
    display: flex;
    padding: 2%;
}

header nav {
    height: 48px;
    background-color: var(--dark-primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
        
}

header nav a {
    color: #fff;
    font-size: 20px;
    margin: 0px 10px;
    font-weight: bold;
}

header nav a:hover{
    color: indigo;
    transition: 400ms ease;

}

header div img {
    margin: 0 auto;
    
}