h1{
    font-size: var(--font-size-big);
    color: var(--dark-primary-color);
    margin: 104px 122px 69px;
    
}

#card-horizontal{
    display: flex;
    width: 100vw;
    justify-content: space-evenly;
    margin-bottom: 116px;


}
.card-receita{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-receita strong {
    font-size: var(--font-size-mid);
    margin: 12px;
}

.card-receita button {
    color: #fff;
    font-weight: 700;
    font-size: 24px;
    border:0;
    background-color: var(--bg-button);
    width: 185px;
    height: 48px; 
}

.card-receita button:hover{
    cursor: pointer;

}
