h1{
    font-size: var(--font-size-big);
    color: var(--dark-primary-color);
    margin: 8% 10% 6% ;
    
}

#card-horizontal{
    display: flex;
    width: 100vw;
    justify-content: space-evenly;
    margin-bottom: 116px;


}

